@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@500&family=Oswald:wght@300&family=Playpen+Sans:wght@300&display=swap');

:root{
    --primary-color: #0A2342;
    --secondary-color: #79A9D1;
    --accent1-color: #FAF3DD;
    --accent2-color: #BBE6E4;
    
    --heading-font: 'Edu Tas Beginner', serif;
    --paragraph-font: 'Oswald', sans-serif;
    --nav-background-color: #0A2342;
    --nav-link-color: #7A6263;
    --nav-hover-link-color:#BBE6E4;
    --nav-hover-background-color: #BBE6E4;
}

body{
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
    text-align: center;
    margin: auto;
}

img{
    height: auto;
}

h2, h3, h4, h5, h6{
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header{
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr 2fr; 
    align-items: center;
    padding: 20px;
    background-color: var(--accent2-color);
}

p{
    padding: 5px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited{
    color:var(--nav-hover-link-color);
}

nav a:hover{
    color:var(--nav-hover-color);
    background-color: var(--nav-hover-background-color);
}

.sociallinks {
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
}


.hero {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
}

.hero img {
    width: 960px;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 10px;
    left: 400px;
    font-family: var(--heading-font);
    color: var(--accent1-color);
}

.hero article {
    position: absolute;
    top: 350px;
    left: 500px;
    background-color: rgba(5, 110, 110, 0.8);
    color: var(--accent1-color); 
    border-radius: 7px;
    padding: .3rem;
}

.hero article h2 {
    position: absolute;
    top: -15px;
    left: 50px;
    color: var(--accent1-color);
}

.hero article img {
    width: 150px;
    height: auto;
    float: right;
}

.history-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
}

.history-title {
    grid-column: 1/4;
}

#history-image {
    width: auto;
    height: 50px;
}

.adventure-grid {
    display: grid;
    grid-template-columns: repeat(5, 150px);
    gap: 2rem;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.adventure-grid h2 {
    grid-column: 1/6;
}

.adventure-grid img {
    max-width: 150px;
    max-height: 150px;
}

figure {
    border: thin teal solid;
    display: flex;
    flex-flow: column;
    padding: 1px;
    max-width: 220px;
    margin: auto;
}

figcaption {
    background-color: teal;
    color: white;
    font: var(--paragraph-font);
    padding: 3px;
    text-align: center;
}

.image-1{
    grid-column: 1/2;
}
.image-2{
    grid-column: 2/3;
}
.image-3{
    grid-column: 3/4;
}
.image-4{
    grid-column: 4/5;
}
.image-5{
    grid-column: 5/6;
}

footer{
    display:flex;
    justify-content: space-around;
    align-items: center;
}

footer img {
    width: 25px;
    height: auto;
}

.employee-flex {
    display: flex;
    margin-bottom: 1rem;
}

.employee-pic img {
    width: 220px;
    height: 220px;
    object-fit: cover;
}

.location-flex {
    display: flex;
    justify-content: space-between;
    align-self: center;
    
}

.address-container h3, p {
    text-align: left;
    padding-left: 20px   
}

.address-container h2 {
    text-align: center;
}

form {
    width: 650px;
    margin: 0 auto;
    padding: 20px;
    border: thin solid var(--primary-color);
    background-color: rgb(240, 233, 233);
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 3rem;
}

input, label, select, textarea, button {
    font-family: var(--paragraph-font);
}

label {
    text-align: left;
}

input, select, textarea {
    padding: .5rem;
    font-size: larger;
    border-radius: 7px;
}

input[type="checkbox"], input[type="radio"] {
    width: 20px;
    height: 20px;
    vertical-align: bottom;
}

.checkbox-item, .radio-item {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding: .6rem;
}

.purpose-section {
    margin: 10px 0;
}

button {
    background-color: var(--primary-color);
    color: white;
    border-radius: .7rem;
    margin: 1rem;
    padding: .75rem;
    font-size: 1.2rem;
}

button:hover {
    background-color: lightsteelblue;
    color: black;
}

table, td {
    border: thin solid var(--primary-color);
}

th, td {
    padding: 0.4rem;
}

thead {
    background-color: var(--primary-color);
    color: var(--accent2-color);
    font-size: 2em;
}

.picture-flex {
    display: flex;
    padding: 1rem;
    margin-bottom: 5rem;
}

.figure-pic img {
    width: 220px;
    height: 150px;
}

.picture-flex figcaption {
    background-color: teal;
    color: white;
    font: var(--paragraph-font);
    padding: 3px;
    text-align: center;
    height: 400px;   
}

.table caption h2 {
    font-size: 4rem;
}

.btn-link {
    background-color: var(--primary-color);
    color: white;
    border-radius: 7px;
    margin: 1rem;
    padding: 0.75rem;
    font-size: 1.1rem;
    text-decoration: none;
}

.btn-link:hover {
    background-color: #6f99bc;
    color: var(--primary-color);
}

#newsletter-form {
    margin-top:2rem;
    border-radius: 7px;
}

.picture-grid {
    display:grid;
    grid-template-columns: repeat(3,1fr);
    margin-bottom: 2rem;
}
.picture-grid-item {
    border: thin solid var(--primary-color);
}    

.figure-pic img {
    width: 220px;
    height: 175px;
    object-fit: cover;
}

.home-hero{
    margin: 10px auto;
    display:grid;
    grid-template-columns: 1fr;
    justify-items: center;
    justify-content: center;
    align-items: flex-end;
}

.hero-background {
    border: 5px solid var(--primary-color);
    grid-column: 1/2;
    grid-row: 1/2;
}
.home-hero h1{
    grid-column: 1/2;
    grid-row: 1/2;
    color: var(--accent1-color);
}

.home-hero h1 {
    top: 350px;
    left: 500px;
    background-color: rgba(5, 110, 110, 0.8);
    color: var(--accent1-color); 
    border-radius: 7px;
    padding: .3rem;
}

.contact-us{
    padding: 2rem;
}


